	.wslider {
	width: 100%;
	height: auto;
	min-height: 219px;
	max-height: 219px !important;	
	background: #ddd;
	}
	
	.slides {
	position: relative;
	width: 100%;
	min-height: 219px;
	max-height: 219px !important;
	overflow: hidden !important;
	overflow: hidden;
	}
	
	.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 2s ease-in-out, transform 10s ease-in-out;
	transform: scale(1);
	z-index: 1;
	}
	
	.slide.active {
	opacity: 1;
	transform: scale(1.1);
	z-index: 3;
	}

	/* SLIDE FADE KEDUA */
	.slidedua {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		opacity: 0;
		transition: opacity 2.5s ease-in-out, transform 11s ease-in-out;
		transform: scale(1);
		z-index: 1;
	}
		
	.slidedua.active {
		opacity: 1;
		transform: scale(1.1);
		z-index: 3;
	}

	.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider {
		width: 100%;
		height: auto;
		max-height: 241px !important;
		overflow: hidden!important;
		background: #ddd;
	}

	.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider .slides{
		position: relative;
		width: 259px;
		min-height: 241px;
		max-height: 241px !important;
	}
/* SLIDE FADE KEDUA */

/* SLIDE FADE KETIGA */
.slidetiga {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 2s ease-in-out, transform 9s ease-in-out;
	transform: scale(1);
	z-index: 1;
}
	
.slidetiga.active {
	opacity: 1;
	transform: scale(1.1);
	z-index: 3;
}

.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider {
	width: 100%;
	height: auto;
	max-height: 241px !important;
	overflow: hidden!important;
	background: #ddd;
}

.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider .slides{
	position: relative;
	width: 100%;
	min-height: 241px;
	max-height: 241px !important;
}
/* SLIDE FADE KETIGA */

/* SLIDE FADE KEEMPAT */
.slideempat {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 2s ease-in-out, transform 9s ease-in-out;
	transform: scale(1);
	z-index: 1;
}
	
.slideempat.active {
	opacity: 1;
	transform: scale(1.1);
	z-index: 3;
}

.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider {
	width: 100%;
	height: auto;
	max-height: 241px !important;
	overflow: hidden!important;
	background: #ddd;
}

.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider .slides{
	position: relative;
	width: 100%;
	min-height: 241px;
	max-height: 241px !important;
}

/* SLIDE FADE KEEMPAT */


/* SLIDER VERTICAL START */
.row-grid .column-gallery:nth-child(3) .card-project-case:nth-child(2) .wslider {
	width: 100%;
	height: 283px;
	max-height: 283px !important;
	overflow: hidden !important;
	background: #ddd;
	position: relative;
}
.row-grid .column-gallery:nth-child(3) .card-project-case:nth-child(2) .wslider .slides {
	position: relative;
	width: 100%;
	min-height: 241px;
	max-height: 241px !important;
  }

  .slidesv {
	position: relative;
	width: 259px;
	min-height: 219px;
	max-height: auto !important;
	width: 100%!important;
	height: 100%;
	display: flex;
	transition: transform 1s ease-in-out; /* Smooth sliding transition */
	}
	
	.slidevsatu {
		min-width: 100%; /* Each slidevsatu takes full width */
		height: 100%;
		background-size: cover;
		background-position: center;
	}
	
	.slidevsatu.active {
	opacity: 1;
	/* transform: scale(1.1); */
	z-index: 3;
	}
/* SLIDER VERTICAL END */





/* MEDIA 1920 START */
@media only screen and (min-width: 1920px) and (max-width: 1920px) {

	.row-grid .column-gallery:nth-child(3) .card-project-case:nth-child(2) .wslider {
		width: 100%;
		height: 412px;
		max-height: 412px !important;
		overflow: hidden !important;
		background: #dedede !important;
		position: relative;
	}

	.row-grid .column-gallery .card-project-case {
		position: relative
	}
	.column-odd {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		-ms-justify-content: space-between;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		flex-direction: row;
		gap: 5px 0px;
	  }
	.row-grid .column-gallery:nth-child(3) .card-project-case:nth-child(2) .wslider .slidevsatu {
		width: 369px;
		min-height: 412px;
	}

	.wslider {
		min-height: 300px;
		max-height: 300px !important;
	}
	.slides {
		min-height: 300px;
		max-height: 300px !important;
	  }
	.row-grid .column-gallery:nth-child(1) .wslider{
		width: 100%;
		height: auto;
		min-height: 300px;
		max-height: 300px !important;
	}
	.row-grid .column-gallery:nth-child(1) {
		width: 100%;
		height: auto;
		min-height: 300px;
		max-height: 300px !important;
	}

	.row-grid .column-gallery:nth-child(1) .slides {
		position: relative;
		width: 100%;
		min-height: 300px;
		max-height: 300px !important;
	}

	.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider {
		width: 100%;
		height: auto;
		min-height: 351px;
    	max-height: 351px !important;
	  }
	.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider .slides {
		position: relative;
		width: 100%;
		min-height: 351px;
    	max-height: 351px !important;
	  }

	  .row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider {
		min-height: 351px;
		max-height: 351px !important;
	  }

	  .row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider .slides {
		min-height: 351px;
		max-height: 351px !important;
	  }

}
/* MEDIA 1920 END */


/* MEDIA 1536-1582 START */
@media only screen and (min-width: 1536px) and (max-width: 1582px) and (orientation: landscape) {
	.slides {
		position: relative;
		width: 100%;
		min-height: 256.5px;
		max-height: 256.5px !important;
	}
	.wslider{
		min-height: 256.5px;
		max-height: 256.5px !important;
		overflow: hidden !important;
	}

	.row-grid .column-gallery:nth-child(3) .card-project-case:nth-child(2) .wslider {
		width: 100%;
		height: 309px;
		max-height: 309px !important;
		overflow: hidden !important;
		background: #dedede !important;
		position: relative;
	}

	.row-grid .column-gallery:nth-child(3) .card-project-case:nth-child(2) .wslider .slidevsatu {
		height: 309px;
		max-height: 309px !important;
		overflow: hidden !important;		
	}

	.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(1) {
		min-height: 314px;
		max-height: 314px !important;
		overflow: hidden !important;
	}
	.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(1) .wslider-two {
		width: 100%;
		min-height: 314px;
		max-height: 314px !important;
	}

	.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(1) .wslider-two .slidevsatu-two {
		min-height: 314px;
		max-height: 314px !important;
	}
	.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider{
		max-height: 274px !important;
		overflow: hidden !important;
	}
	.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider .slides{
		max-height: 274px !important;
		overflow: hidden !important;
	}

	.row-grid .column-gallery:nth-child(5) .card-project-case:nth-child(2) .wslider .slides {
		position: relative;
		width: 100%;
		min-height: 274px;
	}

	.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider {
		width: 100%;
		height: auto;
		min-height: 267px;
		max-height: 267px !important;
	}

	.row-grid .column-gallery:nth-child(2) .card-project-case:nth-child(2) .wslider .slides {
		min-height: 267px;
		max-height: 267px !important;		
	}

}
/* MEDIA 1536-1582 END */